/* Global */
/* ----------------- */
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  p {
    padding: 0px;
    margin: 0px;
  }

  a {
    text-decoration: none;
    color: white;
  }

  button {
    cursor: pointer;
    align-self: center;
  }

  .pageHeader {
    font-family: 'Love Ya Like A Sister', regular;
    font-size: 40px;
    text-align: center;
    padding: 24px;
    color: white;
    text-shadow: rgb(167, 108, 0) 3px 3px 3px;
  }

/* Hero */
/* ----------------- */
  .header {
    text-align: center;
    cursor: default;
  }

  .nav {
    cursor: pointer;
    justify-items: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 50px;
    grid-column-gap: 24px;
    align-self: center;
    margin-bottom: 20px;
  }

  .link {
    background-color: white;
    width: 200px;
    height: 30px;
    text-align: center;
    color: black;
    font-family: 'Love Ya Like A Sister', regular;
    font-size: 20px;
    box-shadow: rgb(167, 108, 0) 3px 3px 3px;
    cursor: pointer;
  }

  .title {
    text-align: center;
    font-family: 'Love Ya Like A Sister', regular;
    font-size: 100px;
    padding: 0;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0px;
    color: orange;
    cursor: pointer;
    width: 25%;
  }

  .tag {
    font-family: 'Love Ya Like A Sister', regular;
    font-size: 32px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
    color: gray;
  }

/* All Dogs/DogsIndex/Landing Page */
/* ----------------- */
  .AllDogsPg {
    padding: 10px;
    background-color: orange;
    margin-top: 20px;
  }

  .grid-container {
    
    justify-items: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 50px;
    grid-column-gap: 24px;
    align-self: center;
    padding-bottom: 50px;
  }

  .grid-item {
    background-color: white;
    padding: 20px 10px 20px 10px;
    min-width: 270px;
    max-width: 320px;
    text-align: center;
    color: black;
    font-family: 'Love Ya Like A Sister', regular;
    font-size: 32px;
    box-shadow: rgb(167, 108, 0) 3px 3px 3px;
    cursor: pointer;
  }

  .pupperPics {
    height: 160px;
    width: 160px;
    border: solid orange 2px;
  }

  .dogName {
    font-family: 'Love Ya Like A Sister', regular;
    font-size: 32px;
    color: orange;
    padding: 0px;
  } 

  .desc {
    color: gray;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: black 2px;
  }

/* Profile Page */
/* ----------------- */  
  .PPgrid-container {
    margin-top: 40px;
    padding-top: 24px;
    padding-bottom: 34px;
    background-color: orange;
    display: grid;
    grid-template-columns: auto auto auto;
    align-self: center;
  }

  .grid-cell {
    align-self: center;
    text-align: center;
    color: white;
    font-size: 20px;
  }

  .center-cell {
    background-color: orange;
  }

  .profilename {
    padding-bottom: 12px;
    color:white;
    font-family: 'Love Ya Like A Sister', regular;
    font-size: 40px;
  }

  .pupperPic {
    border: white solid 4px;
  }

  .PPbuttons {
    cursor: pointer;
  }


/* Create/Add New Dog Form */
/* ----------------- */
  .createForm{
    margin: auto;
    border: orange solid 4px;
    border-radius: 5%;
    max-width: 600px;
    text-align: center;
    padding: 10px;
    font-size: 18px;
  }

  .createformtitle{
    color: orange;
    text-shadow: none;
    padding: 0;
    margin-top: 4px;
    margin-bottom: 24px;
  }

  .submitNewPup{
    align-self: center;
    width: 100px;
    height: 30px;
    font-size: 14px;
    color: white;
    background-color: orange;
    border-radius: 12%;
    box-shadow: #dddddd 2px 4px 2px;
    cursor: pointer;
  }


/* Gradebook Page */
/* ----------------- */
  .gradebooktitle {
    margin: 30px 0px 0px 0px;
    font-family: 'Love Ya Like A Sister', regular;
    font-size: 40px;
    color: orange;
    text-align: center;
  }

  .gradeTable {
    box-shadow: rgba(128, 128, 128, 0.514) 2px 4px 2px;
    border-collapse: collapse;
    width: 90%;
    margin: 40px auto 0 auto;
    text-align: center;
    font-size: 20px;
  }

  .name {
    text-align: justify;
    padding-left: 8px;
    cursor: pointer;
    }

  td,th {
    min-width: 150px;
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: rgba(255, 166, 0, 0.212);
  }

  .pawsTile {
    display: flex;
    padding-left: 20px;
    padding-top: 40px;
    max-width: 900px;
    opacity: 0.25;
  }

/* Updates Page */
/* ----------------- */
  .updates-grid-container {
    grid-column-gap: 4px;
    max-width: 1000px;
    justify-items: center;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 16px;
    background-color: white;
    display: grid;
    grid-template-columns: auto auto auto;
    align-self: center;
    border: grey solid 6px;
  }

  .updates-grid-cell {
    /* background-color: orange; */
    align-self: center;
    box-align: center;
    align-content: center;
    text-align: center;
    color: orange;
    font-size: 20px;
  }

  .middle-cell {
    max-width: 300px;
  }


  .updateDogTitle {
    font-family: 'Love Ya Like A Sister', regular;
    font-size: 40px;
    color: orange;
    text-align: center;
  }
<<<<<<< HEAD
  
=======

>>>>>>> 9ae14ec7df2903610482c308cb97bdc34688093b
  .planeteers {
    height: 125px;
    width: 200px;
  }

  .footer {
    margin: auto;
  }